@import "../../../node_modules/atropos/atropos.css";
.atropos {
    width: 300px;
    height: 300px;
    position: relative;
    
  }
  
  .atropos-scale {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .atropos-rotate {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .atropos-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
.my-atropos {
    
  }
    
.cont{
  
  padding: 50px;
  
}

@keyframes cont {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@import "../../../node_modules/swiper/swiper-bundle.min.css";
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  
}

